<style>
.avatar {
  max-height: 100px;
}
a.hover-under-line{
	text-decoration: none;
}
a.hover-under-line:hover{
	text-decoration: underline;
}
.project {
  margin-top: .5em;
  margin-bottom: 1.5em;
}
.project .project-title {
  font-size: 1.4em;
  color: #0366d6;
}
.project .project-desc {
  color: #545454;
  font-size: 1em;
  margin-top: 5px;
}
</style>

<img class="avatar" src="/img/jk.png">

<p>XUJINKAI</p>
<p>程序员一枚</p>

<div class="project">
<a class="project-title hover-under-line" href="http://onequick.org/" target="_blank">OneQuick<span style="font-size: .8em; color: gray;">.org</span></a>
<div class="project-desc">
Windows热键工具，简化操作，提高效率，自定义功能丰富。<br>
已上架微软应用商店，强烈推荐👍
<br>
<br>
<img src="https://onequick.org/img/gif/screen-volume.gif" style="height: 150px;">
</div>
</div>

<div class="project">
<a class="project-title hover-under-line" href="https://github.com/XUJINKAI/XJKdotNetLibrary" target="_blank">XJK.net Library</a>
<div class="project-desc">
自用.net standard/.net framework库<br>
各种常见方法封装
<br>
</div>
</div>

<div class="project">
<a class="project-title hover-under-line" href="https://hub.docker.com/r/xujinkai/aria2-with-webui/" target="_blank">Aria2-with-webui (docker)</a>
<div class="project-desc">
下载神器，集成界面，一行命令安装。
</div>
</div>

<p><a href="/projects" class="hover-under-line" style="color: #0366d6;">>> 查看全部项目...</a></p>

<br>
<br>