<style>
.avatar {
  max-height: 100px;
}
a.hover-under-line{
	text-decoration: none;
}
a.hover-under-line:hover{
	text-decoration: underline;
}
.project {
  margin-top: .5em;
  margin-bottom: 1.5em;
}
.project .project-title {
  font-size: 1.4em;
  color: #0366d6;
}
.project .project-desc {
  color: #545454;
  font-size: 1em;
  margin-top: 5px;
}
@media (max-width: 1024px){
  .project .project-desc {
    display: none;
  }
}
</style>

<img class="avatar" src="/static/img/jk.png">

<p><a href="https://github.com/XUJINKAI" class="hover-under-line">XUJINKAI</a></p>
<p>程序员一枚</p>

<div class="project">
<a class="project-title hover-under-line" href="http://onequick.org/" target="_blank">OneQuick<span style="font-size: .8em; color: gray;">.org</span></a>
<div class="project-desc">
Windows热键工具，简化操作，提高效率，自定义功能丰富。<br>
已上架微软应用商店👍<br>
<br>
<img src="https://onequick.org/img/feature/screen-volume.gif">
</div>
</div>

<div class="project">
<a class="project-title hover-under-line" href="https://github.com/XUJINKAI/ShellCommand" target="_blank">ShellCommand</a>
<div class="project-desc">
告别注册表，自定义右键菜单。<br>
<br>
<img src="https://raw.githubusercontent.com/XUJINKAI/ShellCommand/master/docs/screenshot.png">
</div>
</div>

<p><a href="/projects" class="hover-under-line" style="color: #0366d6;">>> 查看全部项目...</a></p>
