<style>
.hide{
  display: none;
}
.tag-active {
  font-weight: bolder;
  text-decoration: underline;
  font-style: italic;
}
ul#tags-list{
  list-style: none;
  padding: 0;
}
ul#tags-list li {
  margin: 8px 0;
  font-size: 1.05em;
}
ul#tags-list li .tag-count {
  color: grey;
  font-size: .6em;
  padding-left: .8em;
}
hr.separate{
  display: none;
}
@media(max-width: 1024px){
  ul#tags-list li {
    display: inline;
    margin-right: 1em;
    font-size: 1.2em;
    line-height: 1.6;
  }
  ul#tags-list li .tag-count {
    display: none;
  }
  hr.separate{
    display: block;
  }
}
ul#tags-list li a {
  text-decoration: none;
  color: #0366d6;
}
ul#tags-list li a:hover {
  text-decoration: underline;
}
</style>
<ul id="tags-list">
</ul>
<hr class="separate">
<script>
var get_all_tags = function(){
  var li_list = $("#posts-archive-list li");
  var all_tags_list = {};
  for (var i = li_list.length - 1; i >= 0; i--) {
    var li_tags_str = $(li_list[i]).attr("tags");
    var li_tags_arr = li_tags_str.split(" ");
    for (var j = li_tags_arr.length - 1; j >= 0; j--) {
      var tag = li_tags_arr[j];
      if(tag != "") {
        if(!!all_tags_list[tag]) { all_tags_list[tag]++;}
        else {all_tags_list[tag] = 1;}
      }
    }
  }
  return all_tags_list;
};
var sort_dictionary = function(dict){
  var sortable = [];
  for (var key in dict) {
      sortable.push([key, dict[key]]);
  }
  sortable.sort(function(a, b) {
      return a[1] - b[1];
  });
  return sortable;
};
var append_tag_li = function(sorted_array){
  for (var i = sorted_array.length - 1; i >= 0; i--) {
    var tag = sorted_array[i][0];
    var count = sorted_array[i][1];
    var count_str = "<span class='tag-count'>"+count+"</span>";
    if(count == 1) count_str = "";
    $("#tags-list").append("<li data-tag='"+tag+"'><a href='javascript:;'>"+tag+"</a>"+count_str+"</li>");
    $("#tags-list li[data-tag='"+tag+"']").on("click", function(){
      toggle_tag($(this).data("tag"));
    })
  }
};
var toggle_tag = function(tag){
    var tagli = $("#tags-list li[data-tag='"+tag+"']");
    if(tagli.hasClass("tag-active")){
        posts_show_all();
        $("#posts-archive-list br").removeClass("hide");
    }else{
      var li_list = $("#posts-archive-list li");
      for (var i = li_list.length - 1; i >= 0; i--) {
        var li = li_list[i];
        var li_tags_str = $(li).attr("tags");
        if(li_tags_str.indexOf(tag) >= 0){
          $(li).removeClass("hide");
        } else {
          $(li).addClass("hide");
        }
      }
      setUrlTag(tag);
      clear_tags_active();
      $("#tags-list li[data-tag='"+tag+"']").addClass("tag-active");
      $("#posts-archive-list br").addClass("hide");
    }
};
var posts_show_all = function(){
  var li_list = $("#posts-archive-list li");
  for (var i = li_list.length - 1; i >= 0; i--) {
    $(li_list[i]).removeClass("hide");
  }
  setUrlTag("");
  clear_tags_active();
  $("#clear_tags_active").addClass("tag-active");
};
var clear_tags_active = function(){
  var li_list = $("#tags-list li");
  for (var i = li_list.length - 1; i >= 0; i--) {
    $(li_list[i]).removeClass("tag-active");
  }
};
function getUrlQueryVariable(variable) {
    var query = window.location.search.substring(1);
    var vars = query.split('&');
    for (var i = 0; i < vars.length; i++) {
        var pair = vars[i].split('=');
        if (decodeURIComponent(pair[0]) == variable) {
            return decodeURIComponent(pair[1]);
        }
    }
};
function setUrlQueryVariable(key, value) {
    var url = location.origin + location.pathname + "?" + key + "=" + encodeURIComponent(value);
    history.replaceState("", "", url);
};
function setUrlTag(value){
    if(value == "") {
        var url = location.origin + location.pathname;
        history.replaceState("", "", url);
    } else {
        setUrlQueryVariable("tag", value);
    }
};
$(function(){
  var all_tags_dict = get_all_tags();
  var sorted_array = sort_dictionary(all_tags_dict);
  append_tag_li(sorted_array);
  var tag = getUrlQueryVariable("tag");
  if(!!tag) {
    toggle_tag(tag);
  } else {
    posts_show_all();
  }
});
</script>