<style>
@media (max-width: 1023px){
  #scrollToTop {
    display: none !important;
  }
}
.top-bottom-btn {
  margin-left: 0;
  margin-top: 10px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bolder;
}

#toc .is-active-link {
  font-weight: normal;
}
@media (min-width: 1024px){
  #toc .is-active-link {
    font-weight: 700;
    color: #03a9f4;
  }
}
#toc {
  
}
#toc ul,
#toc ol {
  list-style: none;
}
#toc li {
    padding: 8px 0px 0px .6em;
}
#toc a {
    text-decoration: none;
}#toc a.toc-link {
    height: auto;
}
#toc li a + ol {
  margin-top: 4px;
  margin-bottom: 4px;
}
</style>
<link rel="stylesheet" href="/static/tocbot/tocbot.css">
<script src="/static/tocbot/tocbot.min.js"></script>

<div id="toc-sidebar-div">
  <a id="scrollToTop" href="javascript:window.scrollTo(0,0);" class="mdui-btn top-bottom-btn">↑返回顶部</a>

  <!-- https://tscanlin.github.io/tocbot/#api -->
  <div id="toc"></div>

  {% if page.comment %}
    <a id="scrollToComment" href="#comment" class="mdui-btn top-bottom-btn">
      ↓前往评论
      {% if site.disqus %}
      <span class="disqus-comment-count" data-disqus-identifier="{{page.url}}"></span>
      <script id="dsq-count-scr" src="//{{site.disqus}}.disqus.com/count.js" async></script>
      {% endif %}
    </a>
  {% endif %}
</div>

<script>
$(function(){
  TocRender('.toc-body', '#toc');
});
function TocRender(body, target){
  tocbot.init({
    // Where to render the table of contents.
    tocSelector: target,
    // Where to grab the headings to build the table of contents.
    contentSelector: body,
    // Which headings to grab inside of the contentSelector element.
    headingSelector: 'h1, h2, h3',
    scrollSmoothDuration: 200,
    isCollapsedClass: 'is-collapsed-', //disable collapse
  });
}
</script>
