---
layout: frame
---

<style>
@media (min-width: 1024px){
  .main-container > .mdui-col-md-3,
  .main-container > .mdui-col-md-1 {
    float: right;
  }
}
.main-container {
  margin-top: 2em;
}
</style>

<div class="mdui-container main-container">
  <div class="mdui-col-md-3">
      {% if page.sidebar == 'bio' or layout.sidebar == 'bio' %}
      {% include bio.html %}
      {% endif %}
      {% if page.sidebar == 'toc' or layout.sidebar == 'toc' %}
      {% include toc.html %}
      {% endif %}
      {% if page.sidebar == 'tags' or layout.sidebar == 'tags' %}
      {% include tags.html %}
      {% endif %}
  </div>
  <div class="mdui-col-md-1"></div>
  <div class="mdui-col-md-8">
    <div class="main-content markdown-body anchor-body">
      {{ content }}
      {%if page.comment %}
      <hr style="height: 1px; width: 100%;">
      {% include comments.html %}
      {% endif %}
    </div>
  </div>
</div>