<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
  <link rel="shortcut icon" type="image/x-ico" href="/favicon.ico"/>
  <link rel="canonical" href="{{site.domain}}{{page.url}}">
  <meta name="author" content="{{site.author}}" />
  <title>{{ page.title }} - XUJINKAI</title>
  {% assign this_components = 'mdui jquery' | split: ' ' %}
  {% assign layout_components = layout.component  | split: ' ' | compact %}
  {% assign page_components = page.component | split: ' ' | compact %}
  {% assign components_infile = this_components | concat: layout_components | concat: page_components %}
  {% assign components = components_infile[1] %}
  {% for item in components_infile %}
      {% unless components contains item %}
          {% capture components %}{{ components }} {{ item }}{% endcapture %}
      {% endunless %}
  {% endfor %}
  {% assign components = components | split: ' ' %}
  {% for com in components %}
  {% if com == "jquery" %}
  <script src="/js/jquery-1.12.2.min.js"></script>
  {% endif %}
  {% if com == "bootstrap" %}
  <link href="/css/bootstrap.min.css" rel="stylesheet"/>
  <script src="/js/bootstrap.min.js"></script>
  {% endif %}
  {% if com == "font-awesome" %}
    <link href="/css/font-awesome.min.css" rel="stylesheet">
  {% endif %}
  {% if com == "promise-polyfill" %}
    <script src="/js/promise.min.js"></script>
  {% endif %}
  {% if com == "markdown" %}
  {% assign markdown = true %}
  <link href="/css/rouge-monokai.css" rel="stylesheet"/>
  <link href="/css/github-markdown.css" rel="stylesheet"/>
  <script src="/js/anchor.min.js"></script>
  <script>
document.addEventListener("DOMContentLoaded", function(event) {
  anchors.options = {
    placement: 'left',
  };
  anchors.add(".article-content h1, .article-content h2, .article-content h3, .article-content h4, .article-content h5");
});
  </script>
  {% endif %}
  {% if com == "mdui" %}
  <!-- https://www.mdui.org/docs/ -->
  <link href="/css/mdui.min.css" rel="stylesheet"/>
  <script src="/js/mdui.min.js"></script>
  {% endif %}
  {% endfor %}
  <style>
html {
  /*border-radius: 0 !important;*/
    /*overflow-y:scroll;*/
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
img {
  max-width: 100%;
  max-height: 1024px;
}
#search-box{
	margin-left: 0;
    font-size: 16px;
    line-height: 20px;
    border-radius: 1em;
    border: 1px solid white;
    background: white;
}
#search-icon{
	position: relative;
	right: -10px;
    color: #00000085;
}
#search-input:focus,
#search-input{
	border: none;
	outline: 0;
    padding: 5px 10px 5px 12px;
}
  </style>
  <script>
$(function(){
    inst = new mdui.Drawer('#main-drawer');
    $("#search-input").keydown(function(event){
      if(event.keyCode == 13){
        search();
      }
    });
});
function search(){
  var text = $("#search-input")[0].value;
  if(text!=""){
    window.open("https://google.com/search?q=site:xujinkai.net "+text);
  }
};

  </script>
</head>
{% if page.path contains '_posts' %}
{% assign filename = page.path | remove_first : "_posts/" | remove: ".md" %}
{% assign admin_url = "/admin/#/collections/post/entries/" | append: filename %}
{% else %}
{% assign admin_url = "/admin" %}
{% endif %}

{% if page.drawer-close or layout.drawer-close %}
{% assign drawer = false %}
{% else %}
{% assign drawer = true %}
{% endif %}
<body class="mdui-appbar-with-toolbar mdui-loaded mdui-theme-primary-light-blue mdui-theme-accent-pink
{%if drawer == true %}mdui-drawer-body-left{%endif%}">
  <div class="mdui-appbar mdui-appbar-fixed mdui-appbar-scroll-toolbar-hide" style="
  z-index: 6000;"><!-- 覆盖抽屉栏 -->
    <div class="mdui-toolbar mdui-color-theme" style="color: white !important;">
      <span class="mdui-btn mdui-btn-icon" mdui-drawer="{target: '#main-drawer', swipe: true}">
        <i class="mdui-icon material-icons">menu</i>
      </span>
      <a href="/" class="mdui-typo-title mdui-hidden-xs">
        <span class="mdui-typo-title">XUJINKAI</span>
      </a>
      <div class="mdui-toolbar-spacer"></div>
      <a href="{{admin_url}}" target="_blank" class="mdui-typo-title mdui-hidden-xs">
        <i class="mdui-icon material-icons">create</i>
      </a>
      <div id="search-box" class="mdui-typo-title">
	      <i id="search-icon" class="mdui-icon material-icons">search</i>
	      <input id="search-input" placeholder="XUJINKAI.net">
      </div>
      <a class="mdui-typo-title" href="https://github.com/XUJINKAI/XUJINKAI.github.io/blob/master/{{page.path}}" target="_blank">
         <svg version="1.1" x="0px" y="0px" viewBox="0 0 36 36" enable-background="new 0 0 36 36" xml:space="preserve" class="mdui-list-item-icon mdui-icon" style="width: 24px;height:24px;">
            <path fill-rule="evenodd" clip-rule="evenodd" fill="#fff" d="M18,1.4C9,1.4,1.7,8.7,1.7,17.7c0,7.2,4.7,13.3,11.1,15.5
            c0.8,0.1,1.1-0.4,1.1-0.8c0-0.4,0-1.4,0-2.8c-4.5,1-5.5-2.2-5.5-2.2c-0.7-1.9-1.8-2.4-1.8-2.4c-1.5-1,0.1-1,0.1-1
            c1.6,0.1,2.5,1.7,2.5,1.7c1.5,2.5,3.8,1.8,4.7,1.4c0.1-1.1,0.6-1.8,1-2.2c-3.6-0.4-7.4-1.8-7.4-8.1c0-1.8,0.6-3.2,1.7-4.4
            c-0.2-0.4-0.7-2.1,0.2-4.3c0,0,1.4-0.4,4.5,1.7c1.3-0.4,2.7-0.5,4.1-0.5c1.4,0,2.8,0.2,4.1,0.5c3.1-2.1,4.5-1.7,4.5-1.7
            c0.9,2.2,0.3,3.9,0.2,4.3c1,1.1,1.7,2.6,1.7,4.4c0,6.3-3.8,7.6-7.4,8c0.6,0.5,1.1,1.5,1.1,3c0,2.2,0,3.9,0,4.5
            c0,0.4,0.3,0.9,1.1,0.8c6.5-2.2,11.1-8.3,11.1-15.5C34.3,8.7,27,1.4,18,1.4z"></path>
          </svg>
      </a>
    </div>
  </div>

  <div id="main-drawer" class="mdui-drawer mdui-color-grey-50 mdui-drawer-full-height 
    {%if drawer == false %}mdui-drawer-close{%endif%}
  ">
    <div class="mdui-list">
      <a class="mdui-list-item mdui-ripple" href="/" style="margin-top: 65px;">
          <i class="mdui-list-item-icon mdui-icon material-icons">home</i>
          <div class="mdui-list-item-content">主页</div>
      </a>
      <a class="mdui-list-item mdui-ripple" href="/posts">
          <i class="mdui-list-item-icon mdui-icon material-icons">list</i>
          <div class="mdui-list-item-content">全部博文</div>
      </a>
      <a class="mdui-list-item mdui-ripple" href="https://wiki.xujinkai.net" target="_blank">
          <i class="mdui-list-item-icon mdui-icon material-icons">bookmark</i>
          <div class="mdui-list-item-content">个人Wiki</div>
          <i class="mdui-list-item-icon mdui-icon material-icons">open_in_new</i>
      </a>

      <li class="mdui-subheader">Page</li>
      <a class="mdui-list-item mdui-ripple" href="/projects">
          <i class="mdui-list-item-icon mdui-icon material-icons">assistant_photo</i>
          <div class="mdui-list-item-content">个人项目</div>
      </a>
      <a class="mdui-list-item mdui-ripple" href="/donate">
          <i class="mdui-list-item-icon mdui-icon material-icons">tag_faces</i>
          <div class="mdui-list-item-content">捐赠</div>
      </a>
      <a class="mdui-list-item mdui-ripple" href="/about">
          <i class="mdui-list-item-icon mdui-icon material-icons">person</i>
          <div class="mdui-list-item-content">关于</div>
      </a>
    </div>
  </div>

<style>
@media (min-width: 1024px){
  .mdui-container > .mdui-col-md-3,
  .mdui-container > .mdui-col-md-1 {
    float: right;
  }
}
.main-content>*:first-child {
    margin-top: 0 !important;
}
</style>
  <div class="mdui-container main-container">
    <div class="mdui-col-md-3">
        {% if page.sidebar == 'bio' or layout.sidebar == 'bio' %}
        {% include bio.html %}
        {% endif %}
        {% if page.sidebar == 'toc' or layout.sidebar == 'toc' %}
        {% include toc.html %}
        {% endif %}
        {% if page.sidebar == 'tags' or layout.sidebar == 'tags' %}
        {% include tags.html %}
        {% endif %}
    </div>
    <div class="mdui-col-md-1"></div>
    <div class="mdui-col-md-8">
      <div class="main-content {%if markdown == true %}markdown-body{%endif%}">
        {{ content }}
        {%if page.comment %}
        <hr style="height: 1px; width: 100%;">
        {% include comments.html %}
        {% endif %}
      </div>
    </div>
    
  </div>

{% include analytics.html %}
</body>
</html>