--- 
layout: index
sidebar: fixed nextprev toc
component: markdown anchor
--- 
<style>
.main-content{
  font-size: 1.2em;
  max-width: 768px;
}
.post-content>*:first-child {
    margin-top: 0 !important;
}
#title {
	margin-top: 1em;
}
#title a {
	color: black;
	font-size: 2em;
	font-weight: lighter;
	font-family: sans-serif;
}
</style>

<!-- Title -->
<p id="title"><a href="{{page.url}}">{{ page.title }}</a></p>
<div class="post-date" style="color: gray;">
	<span>{{ page.date | date:"%Y-%m-%d" }}</span>
</div>
<i>
Tags: {% for tag in page.tags %}{% if tag != "" %}
<a class="tag" href>{{tag}}</a>
{% if forloop.index != page.tags.size %}, {% endif %}{% endif %}{% endfor %}
<script>
var tag_list = $("a.tag");
for (var i = tag_list.length - 1; i >= 0; i--) {
    var tag = tag_list[i];
    tag.href = "/posts/?tag=" + encodeURIComponent(tag.innerText);
}
</script>
</i>
<br>
<br>
<div class="post-content" style="padding-bottom: 1px;">
{{ content }}
</div>