--- 
layout: index
component:
  - jquery
  - markdown
sidebar: toc
drawer-close: true
--- 
<style>
.main-content{
  font-size: 1.2em;
  max-width: 768px;
}
.post-content>*:first-child {
    margin-top: 0 !important;
}
</style>

<!-- Title -->
<h2>{{ page.title }}</h2>
{% if page.tags.size > 0 %}
<i>
Tags: {% for tag in page.tags %}{% if tag != "" %}
{{ tag }}
{% if forloop.index != page.tags.size %}, {% endif %}{% endif %}{% endfor %}
</i>
{% endif %}
<div class="post-date" style="color: gray;">
	{{ page.date | date:"%Y-%m-%d" }}
</div>
<br>
<div id="toc-content" class="post-content" style="padding-bottom: 1px;">
{{ content }}
</div>