--- 
layout: index
component: jquery markdown
sidebar: toc
drawer-close: true
--- 
<style>
.main-content{
  font-size: 1.2em;
  max-width: 768px;
}
.post-content>*:first-child {
    margin-top: 0 !important;
}
#title {
	margin-top: 3em;
}
#title a {
	color: black;
	font-size: 2em;
	font-weight: lighter;
	font-family: sans-serif;
}
</style>

<!-- Title -->
<p id="title"><a href="{{page.url}}">{{ page.title }}</a></p>
<div class="post-date" style="color: gray;">
	<span>{{ page.date | date:"%Y-%m-%d" }}</span>
</div>
<i>
Tags: {% for tag in page.tags %}{% if tag != "" %}
<a href="/posts/#{{tag}}">{{ tag }}</a>
{% if forloop.index != page.tags.size %}, {% endif %}{% endif %}{% endfor %}
</i>
<br>
<br>
<div id="toc-content" class="post-content article-content" style="padding-bottom: 1px;">
{{ content }}
</div>